In [79]:
import requests
import pandas as pd
import mysql.connector
import config
# from mysql.connector import errorcode
# import json

In [80]:
# Define function that makes a call to fbi api and returns specified data in a list format
def fbi_call(state):
    url = f'https://api.usa.gov/crime/fbi/sapi/api/summarized/estimates/states/{state}/1979/2018?API_KEY={config.fbi_api_key}'
    response = requests.get(url)
    data = response.json()
    crime_data = []
    for entry in data['results']:
        entry_tuple = [(entry['state_abbr'] + str(entry['year'])), entry['state_abbr'], entry['year'], entry['population'], entry['violent_crime']]
        crime_data.append(entry_tuple)
    crime_data.sort(key=lambda x: x[2])
    return crime_data

In [81]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [82]:
# Getting the data for each state by iterating through a list of states and calling the fbi_call function on each
all_states_crime_data = []
for state in states:
    all_states_crime_data.extend(fbi_call(state))

In [83]:
url = f'https://api.usa.gov/crime/fbi/sapi/api/summarized/estimates/states/{state}/1979/2018?API_KEY={config.fbi_api_key}'
response = requests.get(url)
data = response.json()
list_keys = data['results'][0].keys()
for i, value in enumerate(list_keys):
    print(f'{i} - {value}')

0 - state_id
1 - state_abbr
2 - year
3 - population
4 - violent_crime
5 - homicide
6 - rape_legacy
7 - rape_revised
8 - robbery
9 - aggravated_assault
10 - property_crime
11 - burglary
12 - larceny
13 - motor_vehicle_theft
14 - arson

In [71]:
# def fbi_call(state):
#     url = f'https://api.usa.gov/crime/fbi/sapi/api/summarized/estimates/states/{state}/1979/2018?API_KEY={config.fbi_api_key}'
#     response = requests.get(url)
#     data = response.json()
#     populatio
#     for entry in data['results']:
        
#         entry_tuple = [(entry['state_abbr'] + str(entry['year']), entry['state_abbr'], entry['year'], entry['population'], entry['violent_crime']
#         crime_data.append(entry_tuple)
#     crime_data.sort(key=lambda x: x[2])
#     return crime_data

In [72]:
all_states_crime_data

[['AL1979', 'AL', 1979, 3769000, 15578],
 ['AL1980', 'AL', 1980, 3861466, 17320],
 ['AL1981', 'AL', 1981, 3916000, 18423],
 ['AL1982', 'AL', 1982, 3943000, 17653],
 ['AL1983', 'AL', 1983, 3959000, 16471],
 ['AL1984', 'AL', 1984, 3990000, 17204],
 ['AL1985', 'AL', 1985, 4021000, 18398],
 ['AL1986', 'AL', 1986, 4053000, 22616],
 ['AL1987', 'AL', 1987, 4083000, 22833],
 ['AL1988', 'AL', 1988, 4127000, 23052],
 ['AL1989', 'AL', 1989, 4118000, 24329],
 ['AL1990', 'AL', 1990, 4040587, 28630],
 ['AL1991', 'AL', 1991, 4089000, 34518],
 ['AL1992', 'AL', 1992, 4136000, 36052],
 ['AL1993', 'AL', 1993, 4187000, 32676],
 ['AL1994', 'AL', 1994, 4219000, 28844],
 ['AL1995', 'AL', 1995, 4253000, 26894],
 ['AL1996', 'AL', 1996, 4273000, 24159],
 ['AL1997', 'AL', 1997, 4319000, 24379],
 ['AL1998', 'AL', 1998, 4352000, 22286],
 ['AL1999', 'AL', 1999, 4369862, 21421],
 ['AL2000', 'AL', 2000, 4447100, 21620],
 ['AL2001', 'AL', 2001, 4468912, 19582],
 ['AL2002', 'AL', 2002, 4478896, 19931],
 ['AL2003', 'AL', 2003, 4503726, 19331],
 ['AL2004', 'AL', 2004, 4525375, 19324],
 ['AL2005', 'AL', 2005, 4548327, 19678],
 ['AL2006', 'AL', 2006, 4599030, 19553],
 ['AL2007', 'AL', 2007, 4627851, 20775],
 ['AL2008', 'AL', 2008, 4661900, 21110],
 ['AL2009', 'AL', 2009, 4708708, 21194],
 ['AL2010', 'AL', 2010, 4785401, 18363],
 ['AL2011', 'AL', 2011, 4803689, 20166],
 ['AL2012', 'AL', 2012, 4817528, 21693],
 ['AL2013', 'AL', 2013, 4833996, 20834],
 ['AL2014', 'AL', 2014, 4846411, 20727],
 ['AL2015', 'AL', 2015, 4853875, 22957],
 ['AL2016', 'AL', 2016, 4860545, 25878],
 ['AL2017', 'AL', 2017, 4875120, 25469],
 ['AL2018', 'AL', 2018, 4887871, 25399],
 ['AK1979', 'AK', 1979, 406000, 1994],
 ['AK1980', 'AK', 1980, 440142, 1919],
 ['AK1981', 'AK', 1981, 412000, 2537],
 ['AK1982', 'AK', 1982, 438000, 2732],
 ['AK1983', 'AK', 1983, 479000, 2940],
 ['AK1984', 'AK', 1984, 500000, 3108],
 ['AK1985', 'AK', 1985, 521000, 3031],
 ['AK1986', 'AK', 1986, 534000, 3046],
 ['AK1987', 'AK', 1987, 525000, 2391],
 ['AK1988', 'AK', 1988, 513000, 2682],
 ['AK1989', 'AK', 1989, 527000, 2623],
 ['AK1990', 'AK', 1990, 550043, 2885],
 ['AK1991', 'AK', 1991, 570000, 3499],
 ['AK1992', 'AK', 1992, 587000, 3877],
 ['AK1993', 'AK', 1993, 599000, 4557],
 ['AK1994', 'AK', 1994, 606000, 4644],
 ['AK1995', 'AK', 1995, 604000, 4656],
 ['AK1996', 'AK', 1996, 607000, 4417],
 ['AK1997', 'AK', 1997, 609000, 4270],
 ['AK1998', 'AK', 1998, 614000, 4015],
 ['AK1999', 'AK', 1999, 619500, 3908],
 ['AK2000', 'AK', 2000, 626932, 3554],
 ['AK2001', 'AK', 2001, 633630, 3735],
 ['AK2002', 'AK', 2002, 641482, 3627],
 ['AK2003', 'AK', 2003, 648280, 3877],
 ['AK2004', 'AK', 2004, 657755, 4159],
 ['AK2005', 'AK', 2005, 663253, 4194],
 ['AK2006', 'AK', 2006, 670053, 4610],
 ['AK2007', 'AK', 2007, 683478, 4520],
 ['AK2008', 'AK', 2008, 686293, 4475],
 ['AK2009', 'AK', 2009, 698473, 4424],
 ['AK2010', 'AK', 2010, 714146, 4537],
 ['AK2011', 'AK', 2011, 723860, 4416],
 ['AK2012', 'AK', 2012, 730307, 4412],
 ['AK2013', 'AK', 2013, 737259, 4709],
 ['AK2014', 'AK', 2014, 737046, 4684],
 ['AK2015', 'AK', 2015, 737709, 5391],
 ['AK2016', 'AK', 2016, 741522, 5966],
 ['AK2017', 'AK', 2017, 739786, 6338],
 ['AK2018', 'AK', 2018, 737438, 6526],
 ['AZ1979', 'AZ', 1979, 2450000, 14528],
 ['AZ1980', 'AZ', 1980, 2715357, 17673],
 ['AZ1981', 'AZ', 1981, 2793000, 16082],
 ['AZ1982', 'AZ', 1982, 2860000, 14785],
 ['AZ1983', 'AZ', 1983, 2963000, 14642],
 ['AZ1984', 'AZ', 1984, 3053000, 15756],
 ['AZ1985', 'AZ', 1985, 3187000, 19202],
 ['AZ1986', 'AZ', 1986, 3317000, 21835],
 ['AZ1987', 'AZ', 1987, 3386000, 20742],
 ['AZ1988', 'AZ', 1988, 3466000, 21147],
 ['AZ1989', 'AZ', 1989, 3556000, 21320],
 ['AZ1990', 'AZ', 1990, 3665228, 23911],
 ['AZ1991', 'AZ', 1991, 3750000, 25152],
 ['AZ1992', 'AZ', 1992, 3832000, 25706],
 ['AZ1993', 'AZ', 1993, 3936000, 28142],
 ['AZ1994', 'AZ', 1994, 4075000, 28653],
 ['AZ1995', 'AZ', 1995, 4218000, 30095],
 ['AZ1996', 'AZ', 1996, 4428000, 27963],
 ['AZ1997', 'AZ', 1997, 4555000, 28411],
 ['AZ1998', 'AZ', 1998, 4669000, 26984],
 ['AZ1999', 'AZ', 1999, 4778332, 26334],
 ['AZ2000', 'AZ', 2000, 5130632, 27281],
 ['AZ2001', 'AZ', 2001, 5306966, 28675],
 ['AZ2002', 'AZ', 2002, 5441125, 30171],
 ['AZ2003', 'AZ', 2003, 5579222, 28638],
 ['AZ2004', 'AZ', 2004, 5739879, 28952],
 ['AZ2005', 'AZ', 2005, 5953007, 30478],
 ['AZ2006', 'AZ', 2006, 6166318, 33456],
 ['AZ2007', 'AZ', 2007, 6338755, 32835],
 ['AZ2008', 'AZ', 2008, 6500180, 31567],
 ['AZ2009', 'AZ', 2009, 6595778, 28128],
 ['AZ2010', 'AZ', 2010, 6413158, 26528],
 ['AZ2011', 'AZ', 2011, 6467315, 26789],
 ['AZ2012', 'AZ', 2012, 6551149, 28077],
 ['AZ2013', 'AZ', 2013, 6634997, 27576],
 ['AZ2014', 'AZ', 2014, 6728783, 26422],
 ['AZ2015', 'AZ', 2015, 6817565, 27968],
 ['AZ2016', 'AZ', 2016, 6908642, 32542],
 ['AZ2017', 'AZ', 2017, 7048876, 35647],
 ['AZ2018', 'AZ', 2018, 7171646, 34058],
 ['AR1979', 'AR', 1979, 2180000, 7984],
 ['AR1980', 'AR', 1980, 2284037, 7656],
 ['AR1981', 'AR', 1981, 2294000, 7119],
 ['AR1982', 'AR', 1982, 2291000, 7438],
 ['AR1983', 'AR', 1983, 2328000, 6930],
 ['AR1984', 'AR', 1984, 2349000, 7549],
 ['AR1985', 'AR', 1985, 2359000, 8199],
 ['AR1986', 'AR', 1986, 2372000, 9365],
 ['AR1987', 'AR', 1987, 2388000, 9839],
 ['AR1988', 'AR', 1988, 2422000, 10237],
 ['AR1989', 'AR', 1989, 2406000, 11397],
 ['AR1990', 'AR', 1990, 2350725, 12511],
 ['AR1991', 'AR', 1991, 2372000, 14072],
 ['AR1992', 'AR', 1992, 2399000, 13831],
 ['AR1993', 'AR', 1993, 2424000, 14381],
 ['AR1994', 'AR', 1994, 2453000, 14598],
 ['AR1995', 'AR', 1995, 2484000, 13741],
 ['AR1996', 'AR', 1996, 2510000, 13161],
 ['AR1997', 'AR', 1997, 2523000, 13293],
 ['AR1998', 'AR', 1998, 2538000, 12442],
 ['AR1999', 'AR', 1999, 2551373, 10848],
 ['AR2000', 'AR', 2000, 2673400, 11904],
 ['AR2001', 'AR', 2001, 2694698, 12190],
 ['AR2002', 'AR', 2002, 2706268, 11501],
 ['AR2003', 'AR', 2003, 2727774, 12449],
 ['AR2004', 'AR', 2004, 2750000, 13814],
 ['AR2005', 'AR', 2005, 2775708, 14670],
 ['AR2006', 'AR', 2006, 2810872, 15538],
 ['AR2007', 'AR', 2007, 2834797, 15226],
 ['AR2008', 'AR', 2008, 2855390, 14649],
 ['AR2009', 'AR', 2009, 2889450, 14905],
 ['AR2010', 'AR', 2010, 2921588, 14711],
 ['AR2011', 'AR', 2011, 2938582, 14173],
 ['AR2012', 'AR', 2012, 2949828, 13851],
 ['AR2013', 'AR', 2013, 2958765, 13705],
 ['AR2014', 'AR', 2014, 2966835, 14248],
 ['AR2015', 'AR', 2015, 2977853, 15769],
 ['AR2016', 'AR', 2016, 2988231, 16563],
 ['AR2017', 'AR', 2017, 3002997, 16996],
 ['AR2018', 'AR', 2018, 3013825, 16384],
 ['CA1979', 'CA', 1979, 22696000, 184087],
 ['CA1980', 'CA', 1980, 23532680, 210290],
 ['CA1981', 'CA', 1981, 24159000, 208485],
 ['CA1982', 'CA', 1982, 24724000, 201429],
 ['CA1983', 'CA', 1983, 25174000, 194491],
 ['CA1984', 'CA', 1984, 25622000, 195589],
 ['CA1985', 'CA', 1985, 26365000, 201763],
 ['CA1986', 'CA', 1986, 26981000, 248370],
 ['CA1987', 'CA', 1987, 27663000, 253943],
 ['CA1988', 'CA', 1988, 28168000, 261912],
 ['CA1989', 'CA', 1989, 29063000, 284136],
 ['CA1990', 'CA', 1990, 29760021, 311051],
 ['CA1991', 'CA', 1991, 30380000, 331122],
 ['CA1992', 'CA', 1992, 30867000, 345624],
 ['CA1993', 'CA', 1993, 31211000, 336381],
 ['CA1994', 'CA', 1994, 31431000, 318395],
 ['CA1995', 'CA', 1995, 31589000, 305154],
 ['CA1996', 'CA', 1996, 31878000, 274996],
 ['CA1997', 'CA', 1997, 32268000, 257582],
 ['CA1998', 'CA', 1998, 32667000, 229883],
 ['CA1999', 'CA', 1999, 33145121, 207879],
 ['CA2000', 'CA', 2000, 33871648, 210531],
 ['CA2001', 'CA', 2001, 34600463, 212867],
 ['CA2002', 'CA', 2002, 35001986, 208388],
 ['CA2003', 'CA', 2003, 35462712, 205551],
 ['CA2004', 'CA', 2004, 35842038, 189175],
 ['CA2005', 'CA', 2005, 36154147, 190178],
 ['CA2006', 'CA', 2006, 36457549, 194483],
 ['CA2007', 'CA', 2007, 36553215, 191561],
 ['CA2008', 'CA', 2008, 36756666, 185329],
 ['CA2009', 'CA', 2009, 36961664, 174934],
 ['CA2010', 'CA', 2010, 37338198, 164133],
 ['CA2011', 'CA', 2011, 37683933, 154943],
 ['CA2012', 'CA', 2012, 37999878, 160944],
 ['CA2013', 'CA', 2013, 38431393, 154739],
 ['CA2014', 'CA', 2014, 38792291, 153763],
 ['CA2015', 'CA', 2015, 38993940, 166883],
 ['CA2016', 'CA', 2016, 39296476, 174796],
 ['CA2017', 'CA', 2017, 39399349, 178597],
 ['CA2018', 'CA', 2018, 39557045, 176982],
 ['CO1979', 'CO', 1979, 2772000, 14472],
 ['CO1980', 'CO', 1980, 2878407, 15215],
 ['CO1981', 'CO', 1981, 2963000, 15755],
 ['CO1982', 'CO', 1982, 3045000, 15354],
 ['CO1983', 'CO', 1983, 3139000, 14955],
 ['CO1984', 'CO', 1984, 3178000, 14548],
 ['CO1985', 'CO', 1985, 3231000, 15219],
 ['CO1986', 'CO', 1986, 3267000, 17105],
 ['CO1987', 'CO', 1987, 3296000, 15409],
 ['CO1988', 'CO', 1988, 3290000, 15548],
 ['CO1989', 'CO', 1989, 3317000, 15636],
 ['CO1990', 'CO', 1990, 3294394, 17328],
 ['CO1991', 'CO', 1991, 3377000, 18887],
 ['CO1992', 'CO', 1992, 3470000, 20086],
 ['CO1993', 'CO', 1993, 3566000, 20229],
 ['CO1994', 'CO', 1994, 3656000, 18632],
 ['CO1995', 'CO', 1995, 3747000, 16494],
 ['CO1996', 'CO', 1996, 3823000, 15463],
 ['CO1997', 'CO', 1997, 3893000, 14139],
 ['CO1998', 'CO', 1998, 3971000, 15008],
 ['CO1999', 'CO', 1999, 4056133, 13811],
 ['CO2000', 'CO', 2000, 4301261, 14367],
 ['CO2001', 'CO', 2001, 4430989, 15492],
 ['CO2002', 'CO', 2002, 4501051, 15882],
 ['CO2003', 'CO', 2003, 4547633, 15757],
 ['CO2004', 'CO', 2004, 4601821, 17121],
 ['CO2005', 'CO', 2005, 4663295, 18498],
 ['CO2006', 'CO', 2006, 4753377, 18794],
 ['CO2007', 'CO', 2007, 4861515, 17101],
 ['CO2008', 'CO', 2008, 4939456, 17480],
 ['CO2009', 'CO', 2009, 5024748, 17022],
 ['CO2010', 'CO', 2010, 5047692, 16339],
 ['CO2011', 'CO', 2011, 5116302, 16085],
 ['CO2012', 'CO', 2012, 5189458, 15951],
 ['CO2013', 'CO', 2013, 5272086, 16099],
 ['CO2014', 'CO', 2014, 5355588, 16487],
 ['CO2015', 'CO', 2015, 5448819, 17348],
 ['CO2016', 'CO', 2016, 5530105, 19030],
 ['CO2017', 'CO', 2017, 5615902, 20901],
 ['CO2018', 'CO', 2018, 5695564, 22624],
 ['CT1979', 'CT', 1979, 3115000, 12902],
 ['CT1980', 'CT', 1980, 3095224, 12768],
 ['CT1981', 'CT', 1981, 3132000, 14033],
 ['CT1982', 'CT', 1982, 3153000, 12597],
 ['CT1983', 'CT', 1983, 3138000, 11767],
 ['CT1984', 'CT', 1984, 3154000, 12422],
 ['CT1985', 'CT', 1985, 3174000, 12758],
 ['CT1986', 'CT', 1986, 3189000, 13578],
 ['CT1987', 'CT', 1987, 3211000, 13455],
 ['CT1988', 'CT', 1988, 3241000, 14759],
 ['CT1989', 'CT', 1989, 3239000, 16576],
 ['CT1990', 'CT', 1990, 3287116, 18201],
 ['CT1991', 'CT', 1991, 3291000, 17761],
 ['CT1992', 'CT', 1992, 3281000, 16252],
 ['CT1993', 'CT', 1993, 3277000, 14949],
 ['CT1994', 'CT', 1994, 3275000, 14916],
 ['CT1995', 'CT', 1995, 3275000, 13293],
 ['CT1996', 'CT', 1996, 3274000, 13490],
 ['CT1997', 'CT', 1997, 3270000, 12781],
 ['CT1998', 'CT', 1998, 3274000, 11993],
 ['CT1999', 'CT', 1999, 3282031, 11342],
 ['CT2000', 'CT', 2000, 3405565, 11058],
 ['CT2001', 'CT', 2001, 3434602, 11492],
 ['CT2002', 'CT', 2002, 3458587, 10807],
 ['CT2003', 'CT', 2003, 3486960, 11045],
 ['CT2004', 'CT', 2004, 3498966, 10113],
 ['CT2005', 'CT', 2005, 3500701, 9542],
 ['CT2006', 'CT', 2006, 3504809, 10505],
 ['CT2007', 'CT', 2007, 3502309, 10547],
 ['CT2008', 'CT', 2008, 3501252, 10737],
 ['CT2009', 'CT', 2009, 3518288, 10588],
 ['CT2010', 'CT', 2010, 3575498, 10083],
 ['CT2011', 'CT', 2011, 3586717, 9889],
 ['CT2012', 'CT', 2012, 3591765, 10183],
 ['CT2013', 'CT', 2013, 3599341, 9439],
 ['CT2014', 'CT', 2014, 3594762, 8575],
 ['CT2015', 'CT', 2015, 3584730, 7938],
 ['CT2016', 'CT', 2016, 3587685, 8169],
 ['CT2017', 'CT', 2017, 3573880, 8190],
 ['CT2018', 'CT', 2018, 3572665, 7411],
 ['DC1979', 'DC', 1979, 656000, 10553],
 ['DC1980', 'DC', 1980, 635233, 12772],
 ['DC1981', 'DC', 1981, 636000, 14468],
 ['DC1982', 'DC', 1982, 631000, 13397],
 ['DC1983', 'DC', 1983, 623000, 11933],
 ['DC1984', 'DC', 1984, 623000, 10725],
 ['DC1985', 'DC', 1985, 626000, 10171],
 ['DC1986', 'DC', 1986, 626000, 9423],
 ['DC1987', 'DC', 1987, 622000, 10016],
 ['DC1988', 'DC', 1988, 620000, 11914],
 ['DC1989', 'DC', 1989, 604000, 12937],
 ['DC1990', 'DC', 1990, 606900, 14919],
 ['DC1991', 'DC', 1991, 598000, 14671],
 ['DC1992', 'DC', 1992, 589000, 16685],
 ['DC1993', 'DC', 1993, 578000, 16888],
 ['DC1994', 'DC', 1994, 570000, 15177],
 ['DC1995', 'DC', 1995, 554000, 14744],
 ['DC1996', 'DC', 1996, 543000, 13411],
 ['DC1997', 'DC', 1997, 529000, 10708],
 ['DC1998', 'DC', 1998, 523000, 8988],
 ['DC1999', 'DC', 1999, 519000, 8448],
 ['DC2000', 'DC', 2000, 572059, 8626],
 ['DC2001', 'DC', 2001, 573822, 9195],
 ['DC2002', 'DC', 2002, 569157, 9322],
 ['DC2003', 'DC', 2003, 557620, 9061],
 ['DC2004', 'DC', 2004, 554239, 7590],
 ['DC2005', 'DC', 2005, 582049, 8032],
 ['DC2006', 'DC', 2006, 581530, 8772],
 ['DC2007', 'DC', 2007, 588292, 8325],
 ['DC2008', 'DC', 2008, 591833, 8509],
 ['DC2009', 'DC', 2009, 599657, 8089],
 ['DC2010', 'DC', 2010, 604912, 8026],
 ['DC2011', 'DC', 2011, 619020, 7433],
 ['DC2012', 'DC', 2012, 633427, 7866],
 ['DC2013', 'DC', 2013, 649111, 8415],
 ['DC2014', 'DC', 2014, 659836, 8199],
 ['DC2015', 'DC', 2015, 670377, 8538],
 ['DC2016', 'DC', 2016, 684336, 8236],
 ['DC2017', 'DC', 2017, 695691, 6976],
 ['DC2018', 'DC', 2018, 702455, 6996],
 ['DE1979', 'DE', 1979, 582000, 3127],
 ['DE1980', 'DE', 1980, 594779, 2824],
 ['DE1981', 'DE', 1981, 598000, 3044],
 ['DE1982', 'DE', 1982, 602000, 3370],
 ['DE1983', 'DE', 1983, 606000, 2746],
 ['DE1984', 'DE', 1984, 613000, 2671],
 ['DE1985', 'DE', 1985, 622000, 2695],
 ['DE1986', 'DE', 1986, 633000, 2703],
 ['DE1987', 'DE', 1987, 644000, 2774],
 ['DE1988', 'DE', 1988, 660000, 2981],
 ['DE1989', 'DE', 1989, 673000, 3745],
 ['DE1990', 'DE', 1990, 666168, 4365],
 ['DE1991', 'DE', 1991, 680000, 4857],
 ['DE1992', 'DE', 1992, 689000, 4280],
 ['DE1993', 'DE', 1993, 700000, 4801],
 ['DE1994', 'DE', 1994, 706000, 4549],
 ['DE1995', 'DE', 1995, 717000, 5198],
 ['DE1996', 'DE', 1996, 725000, 4845],
 ['DE1997', 'DE', 1997, 732000, 5753],
 ['DE1998', 'DE', 1998, 744000, 5672],
 ['DE1999', 'DE', 1999, 753538, 5534],
 ['DE2000', 'DE', 2000, 783600, 5363],
 ['DE2001', 'DE', 2001, 796599, 4868],
 ['DE2002', 'DE', 2002, 805945, 4836],
 ['DE2003', 'DE', 2003, 818166, 5525],
 ['DE2004', 'DE', 2004, 830069, 5105],
 ['DE2005', 'DE', 2005, 841741, 5332],
 ['DE2006', 'DE', 2006, 853476, 5983],
 ['DE2007', 'DE', 2007, 864764, 6100],
 ['DE2008', 'DE', 2008, 873092, 6187],
 ['DE2009', 'DE', 2009, 885122, 5713],
 ['DE2010', 'DE', 2010, 899792, 5608],
 ['DE2011', 'DE', 2011, 908137, 5144],
 ['DE2012', 'DE', 2012, 917053, 5048],
 ['DE2013', 'DE', 2013, 925240, 4633],
 ['DE2014', 'DE', 2014, 935968, 4568],
 ['DE2015', 'DE', 2015, 944076, 4760],
 ['DE2016', 'DE', 2016, 952698, 4859],
 ['DE2017', 'DE', 2017, 957078, 4377],
 ['DE2018', 'DE', 2018, 967171, 4097],
 ['FL1979', 'FL', 1979, 8860000, 73881],
 ['FL1980', 'FL', 1980, 9567112, 94095],
 ['FL1981', 'FL', 1981, 10166000, 98109],
 ['FL1982', 'FL', 1982, 10416000, 93411],
 ['FL1983', 'FL', 1983, 10680000, 88292],
 ['FL1984', 'FL', 1984, 10976000, 95270],
 ['FL1985', 'FL', 1985, 11366000, 106971],
 ['FL1986', 'FL', 1986, 11675000, 121013],
 ['FL1987', 'FL', 1987, 12023000, 123168],
 ['FL1988', 'FL', 1988, 12377000, 138343],
 ['FL1989', 'FL', 1989, 12671000, 140575],
 ['FL1990', 'FL', 1990, 12937926, 160990],
 ['FL1991', 'FL', 1991, 13277000, 157243],
 ['FL1992', 'FL', 1992, 13488000, 162827],
 ['FL1993', 'FL', 1993, 13679000, 164975],
 ['FL1994', 'FL', 1994, 13953000, 160016],
 ['FL1995', 'FL', 1995, 14166000, 151711],
 ['FL1996', 'FL', 1996, 14400000, 151350],
 ['FL1997', 'FL', 1997, 14654000, 149996],
 ['FL1998', 'FL', 1998, 14916000, 140016],
 ['FL1999', 'FL', 1999, 15111244, 129044],
 ['FL2000', 'FL', 2000, 15982378, 129777],
 ['FL2001', 'FL', 2001, 16373330, 130713],
 ['FL2002', 'FL', 2002, 16691701, 128721],
 ['FL2003', 'FL', 2003, 16999181, 124280],
 ['FL2004', 'FL', 2004, 17385430, 123754],
 ['FL2005', 'FL', 2005, 17768191, 125957],
 ['FL2006', 'FL', 2006, 18089888, 129602],
 ['FL2007', 'FL', 2007, 18251243, 131878],
 ['FL2008', 'FL', 2008, 18328340, 126256],
 ['FL2009', 'FL', 2009, 18537969, 113541],
 ['FL2010', 'FL', 2010, 18838613, 101969],
 ['FL2011', 'FL', 2011, 19082262, 98198],
 ['FL2012', 'FL', 2012, 19320749, 94087],
 ['FL2013', 'FL', 2013, 19600311, 91993],
 ['FL2014', 'FL', 2014, 19905569, 91345],
 ['FL2015', 'FL', 2015, 20244914, 93625],
 ['FL2016', 'FL', 2016, 20656589, 88700],
 ['FL2017', 'FL', 2017, 20976812, 85606],
 ['FL2018', 'FL', 2018, 21299325, 81980],
 ['GA1979', 'GA', 1979, 5118000, 28594],
 ['GA1980', 'GA', 1980, 5400851, 29993],
 ['GA1981', 'GA', 1981, 5569000, 30527],
 ['GA1982', 'GA', 1982, 5639000, 26963],
 ['GA1983', 'GA', 1983, 5732000, 26179],
 ['GA1984', 'GA', 1984, 5837000, 27935],
 ['GA1985', 'GA', 1985, 5976000, 30311],
 ['GA1986', 'GA', 1986, 6104000, 35869],
 ['GA1987', 'GA', 1987, 6222000, 35868],
 ['GA1988', 'GA', 1988, 6401000, 42589],
 ['GA1989', 'GA', 1989, 6436000, 47357],
 ['GA1990', 'GA', 1990, 6478216, 48996],
 ['GA1991', 'GA', 1991, 6623000, 48894],
 ['GA1992', 'GA', 1992, 6751000, 49496],
 ['GA1993', 'GA', 1993, 6917000, 50019],
 ['GA1994', 'GA', 1994, 7055000, 47103],
 ['GA1995', 'GA', 1995, 7201000, 47317],
 ['GA1996', 'GA', 1996, 7353000, 46966],
 ['GA1997', 'GA', 1997, 7486000, 45408],
 ['GA1998', 'GA', 1998, 7642000, 43762],
 ['GA1999', 'GA', 1999, 7788240, 41585],
 ['GA2000', 'GA', 2000, 8186453, 41319],
 ['GA2001', 'GA', 2001, 8405677, 41671],
 ['GA2002', 'GA', 2002, 8544005, 39271],
 ['GA2003', 'GA', 2003, 8676460, 39435],
 ['GA2004', 'GA', 2004, 8918129, 40217],
 ['GA2005', 'GA', 2005, 9132553, 40725],
 ['GA2006', 'GA', 2006, 9363941, 44754],
 ['GA2007', 'GA', 2007, 9544750, 46917],
 ['GA2008', 'GA', 2008, 9685744, 47353],
 ['GA2009', 'GA', 2009, 9829211, 42073],
 ['GA2010', 'GA', 2010, 9712157, 39068],
 ['GA2011', 'GA', 2011, 9812460, 36762],
 ['GA2012', 'GA', 2012, 9915646, 37675],
 ['GA2013', 'GA', 2013, 9994759, 37519],
 ['GA2014', 'GA', 2014, 10097132, 38955],
 ['GA2015', 'GA', 2015, 10199398, 38891],
 ['GA2016', 'GA', 2016, 10313620, 40268],
 ['GA2017', 'GA', 2017, 10413055, 37118],
 ['GA2018', 'GA', 2018, 10519475, 34355],
 ['HI1979', 'HI', 1979, 915000, 2651],
 ['HI1980', 'HI', 1980, 964680, 2889],
 ['HI1981', 'HI', 1981, 979000, 2424],
 ['HI1982', 'HI', 1982, 994000, 2542],
 ['HI1983', 'HI', 1983, 1023000, 2579],
 ['HI1984', 'HI', 1984, 1039000, 2409],
 ['HI1985', 'HI', 1985, 1054000, 2313],
 ['HI1986', 'HI', 1986, 1062000, 2604],
 ['HI1987', 'HI', 1987, 1083000, 2851],
 ['HI1988', 'HI', 1988, 1093000, 2810],
 ['HI1989', 'HI', 1989, 1112000, 3004],
 ['HI1990', 'HI', 1990, 1108229, 3113],
 ['HI1991', 'HI', 1991, 1135000, 2744],
 ['HI1992', 'HI', 1992, 1160000, 2998],
 ['HI1993', 'HI', 1993, 1172000, 3061],
 ['HI1994', 'HI', 1994, 1179000, 3091],
 ['HI1995', 'HI', 1995, 1187000, 3509],
 ['HI1996', 'HI', 1996, 1184000, 3322],
 ['HI1997', 'HI', 1997, 1187000, 3299],
 ['HI1998', 'HI', 1998, 1193000, 2946],
 ['HI1999', 'HI', 1999, 1185497, 2785],
 ['HI2000', 'HI', 2000, 1211537, 2954],
 ['HI2001', 'HI', 2001, 1227024, 3117],
 ['HI2002', 'HI', 2002, 1240663, 3262],
 ['HI2003', 'HI', 2003, 1248755, 3400],
 ['HI2004', 'HI', 2004, 1262124, 3213],
 ['HI2005', 'HI', 2005, 1273278, 3253],
 ['HI2006', 'HI', 2006, 1285498, 3608],
 ['HI2007', 'HI', 2007, 1283388, 3544],
 ['HI2008', 'HI', 2008, 1288198, 3510],
 ['HI2009', 'HI', 2009, 1295178, 3550],
 ['HI2010', 'HI', 2010, 1363359, 3603],
 ['HI2011', 'HI', 2011, 1378129, 3465],
 ['HI2012', 'HI', 2012, 1390090, 3378],
 ['HI2013', 'HI', 2013, 1408987, 3585],
 ['HI2014', 'HI', 2014, 1420257, 3362],
 ['HI2015', 'HI', 2015, 1431603, 4201],
 ['HI2016', 'HI', 2016, 1428683, 3452],
 ['HI2017', 'HI', 2017, 1424203, 3577],
 ['HI2018', 'HI', 2018, 1420491, 3532],
 ['ID1979', 'ID', 1979, 905000, 2613],
 ['ID1980', 'ID', 1980, 943629, 2957],
 ['ID1981', 'ID', 1981, 959000, 2717],
 ['ID1982', 'ID', 1982, 965000, 2501],
 ['ID1983', 'ID', 1983, 989000, 2361],
 ['ID1984', 'ID', 1984, 1001000, 2355],
 ['ID1985', 'ID', 1985, 1005000, 2360],
 ['ID1986', 'ID', 1986, 1003000, 2232],
 ['ID1987', 'ID', 1987, 998000, 2138],
 ['ID1988', 'ID', 1988, 999000, 2345],
 ['ID1989', 'ID', 1989, 1014000, 2582],

Now that we have our data in the format of a list of tuples we will add it to our database in sql

In [73]:
db_name = 'mod3_eda'

In [74]:
# Create a connection
cnx = mysql.connector.connect(
    host = config.host,
    user = 'admin',
    passwd = config.password,
    database = db_name
)

In [75]:
# Create / close cursor
cursor = cnx.cursor()
# cursor.close()

In [76]:
# Create table description
table_description = ("""
CREATE TABLE IF NOT EXISTS fbi_crime_data (
    year_state_key VARCHAR(255) NOT NULL PRIMARY KEY,
    state VARCHAR(255) NOT NULL,
    year INT NOT NULL,
    population INT NOT NULL,
    violent_crimes_count INT NOT NULL
)  ENGINE=INNODB;
""")

In [77]:
# define insert query
fbi_table_query = """INSERT INTO fbi_crime_data
    (year_state_key, state, year, population, violent_crimes_count)
    VALUES (%s, %s, %s, %s, %s)"""

In [63]:
# Function to insert results into a table based on the given query
def db_insert(data, table_qry):
    for n in range(0, len(data)):
        cursor.execute(table_qry, data[n])
        print(f'inserted a row for {n} row in results')

In [64]:
# Create table 
cursor.execute(table_description)

In [78]:
# Call db_insert function to insert data into table
db_insert(all_states_crime_data, fbi_table_query)

inserted a row for 0 row in results
inserted a row for 1 row in results
inserted a row for 2 row in results
inserted a row for 3 row in results
inserted a row for 4 row in results
inserted a row for 5 row in results
inserted a row for 6 row in results
inserted a row for 7 row in results
inserted a row for 8 row in results
inserted a row for 9 row in results
inserted a row for 10 row in results
inserted a row for 11 row in results
inserted a row for 12 row in results
inserted a row for 13 row in results
inserted a row for 14 row in results
inserted a row for 15 row in results
inserted a row for 16 row in results
inserted a row for 17 row in results
inserted a row for 18 row in results
inserted a row for 19 row in results
inserted a row for 20 row in results
inserted a row for 21 row in results
inserted a row for 22 row in results
inserted a row for 23 row in results
inserted a row for 24 row in results
inserted a row for 25 row in results
inserted a row for 26 row in results
inserted a row for 27 row in results
inserted a row for 28 row in results
inserted a row for 29 row in results
inserted a row for 30 row in results
inserted a row for 31 row in results
inserted a row for 32 row in results
inserted a row for 33 row in results
inserted a row for 34 row in results
inserted a row for 35 row in results
inserted a row for 36 row in results
inserted a row for 37 row in results
inserted a row for 38 row in results
inserted a row for 39 row in results
inserted a row for 40 row in results
inserted a row for 41 row in results
inserted a row for 42 row in results
inserted a row for 43 row in results
inserted a row for 44 row in results
inserted a row for 45 row in results
inserted a row for 46 row in results
inserted a row for 47 row in results
inserted a row for 48 row in results
inserted a row for 49 row in results
inserted a row for 50 row in results
inserted a row for 51 row in results
inserted a row for 52 row in results
inserted a row for 53 row in results
inserted a row for 54 row in results
inserted a row for 55 row in results
inserted a row for 56 row in results
inserted a row for 57 row in results
inserted a row for 58 row in results
inserted a row for 59 row in results
inserted a row for 60 row in results
inserted a row for 61 row in results
inserted a row for 62 row in results
inserted a row for 63 row in results
inserted a row for 64 row in results
inserted a row for 65 row in results
inserted a row for 66 row in results
inserted a row for 67 row in results
inserted a row for 68 row in results
inserted a row for 69 row in results
inserted a row for 70 row in results
inserted a row for 71 row in results
inserted a row for 72 row in results
inserted a row for 73 row in results
inserted a row for 74 row in results
inserted a row for 75 row in results
inserted a row for 76 row in results
inserted a row for 77 row in results
inserted a row for 78 row in results
inserted a row for 79 row in results
inserted a row for 80 row in results
inserted a row for 81 row in results
inserted a row for 82 row in results
inserted a row for 83 row in results
inserted a row for 84 row in results
inserted a row for 85 row in results
inserted a row for 86 row in results
inserted a row for 87 row in results
inserted a row for 88 row in results
inserted a row for 89 row in results
inserted a row for 90 row in results
inserted a row for 91 row in results
inserted a row for 92 row in results
inserted a row for 93 row in results
inserted a row for 94 row in results
inserted a row for 95 row in results
inserted a row for 96 row in results
inserted a row for 97 row in results
inserted a row for 98 row in results
inserted a row for 99 row in results
inserted a row for 100 row in results
inserted a row for 101 row in results
inserted a row for 102 row in results
inserted a row for 103 row in results
inserted a row for 104 row in results
inserted a row for 105 row in results
inserted a row for 106 row in results
inserted a row for 107 row in results
inserted a row for 108 row in results
inserted a row for 109 row in results
inserted a row for 110 row in results
inserted a row for 111 row in results
inserted a row for 112 row in results
inserted a row for 113 row in results
inserted a row for 114 row in results
inserted a row for 115 row in results
inserted a row for 116 row in results
inserted a row for 117 row in results
inserted a row for 118 row in results
inserted a row for 119 row in results
inserted a row for 120 row in results
inserted a row for 121 row in results
inserted a row for 122 row in results
inserted a row for 123 row in results
inserted a row for 124 row in results
inserted a row for 125 row in results
inserted a row for 126 row in results
inserted a row for 127 row in results
inserted a row for 128 row in results
inserted a row for 129 row in results
inserted a row for 130 row in results
inserted a row for 131 row in results
inserted a row for 132 row in results
inserted a row for 133 row in results
inserted a row for 134 row in results
inserted a row for 135 row in results
inserted a row for 136 row in results
inserted a row for 137 row in results
inserted a row for 138 row in results
inserted a row for 139 row in results
inserted a row for 140 row in results
inserted a row for 141 row in results
inserted a row for 142 row in results
inserted a row for 143 row in results
inserted a row for 144 row in results
inserted a row for 145 row in results
inserted a row for 146 row in results
inserted a row for 147 row in results
inserted a row for 148 row in results
inserted a row for 149 row in results
inserted a row for 150 row in results
inserted a row for 151 row in results
inserted a row for 152 row in results
inserted a row for 153 row in results
inserted a row for 154 row in results
inserted a row for 155 row in results
inserted a row for 156 row in results
inserted a row for 157 row in results
inserted a row for 158 row in results
inserted a row for 159 row in results
inserted a row for 160 row in results
inserted a row for 161 row in results
inserted a row for 162 row in results
inserted a row for 163 row in results
inserted a row for 164 row in results
inserted a row for 165 row in results
inserted a row for 166 row in results
inserted a row for 167 row in results
inserted a row for 168 row in results
inserted a row for 169 row in results
inserted a row for 170 row in results
inserted a row for 171 row in results
inserted a row for 172 row in results
inserted a row for 173 row in results
inserted a row for 174 row in results
inserted a row for 175 row in results
inserted a row for 176 row in results
inserted a row for 177 row in results
inserted a row for 178 row in results
inserted a row for 179 row in results
inserted a row for 180 row in results
inserted a row for 181 row in results
inserted a row for 182 row in results
inserted a row for 183 row in results
inserted a row for 184 row in results
inserted a row for 185 row in results
inserted a row for 186 row in results
inserted a row for 187 row in results
inserted a row for 188 row in results
inserted a row for 189 row in results
inserted a row for 190 row in results
inserted a row for 191 row in results
inserted a row for 192 row in results
inserted a row for 193 row in results
inserted a row for 194 row in results
inserted a row for 195 row in results
inserted a row for 196 row in results
inserted a row for 197 row in results
inserted a row for 198 row in results
inserted a row for 199 row in results
inserted a row for 200 row in results
inserted a row for 201 row in results
inserted a row for 202 row in results
inserted a row for 203 row in results
inserted a row for 204 row in results
inserted a row for 205 row in results
inserted a row for 206 row in results
inserted a row for 207 row in results
inserted a row for 208 row in results
inserted a row for 209 row in results
inserted a row for 210 row in results
inserted a row for 211 row in results
inserted a row for 212 row in results
inserted a row for 213 row in results
inserted a row for 214 row in results
inserted a row for 215 row in results
inserted a row for 216 row in results
inserted a row for 217 row in results
inserted a row for 218 row in results
inserted a row for 219 row in results
inserted a row for 220 row in results
inserted a row for 221 row in results
inserted a row for 222 row in results
inserted a row for 223 row in results
inserted a row for 224 row in results

inserted a row for 225 row in results
inserted a row for 226 row in results
inserted a row for 227 row in results
inserted a row for 228 row in results
inserted a row for 229 row in results
inserted a row for 230 row in results
inserted a row for 231 row in results
inserted a row for 232 row in results
inserted a row for 233 row in results
inserted a row for 234 row in results
inserted a row for 235 row in results
inserted a row for 236 row in results
inserted a row for 237 row in results
inserted a row for 238 row in results
inserted a row for 239 row in results
inserted a row for 240 row in results
inserted a row for 241 row in results
inserted a row for 242 row in results
inserted a row for 243 row in results
inserted a row for 244 row in results
inserted a row for 245 row in results
inserted a row for 246 row in results
inserted a row for 247 row in results
inserted a row for 248 row in results
inserted a row for 249 row in results
inserted a row for 250 row in results
inserted a row for 251 row in results
inserted a row for 252 row in results
inserted a row for 253 row in results
inserted a row for 254 row in results
inserted a row for 255 row in results
inserted a row for 256 row in results
inserted a row for 257 row in results
inserted a row for 258 row in results
inserted a row for 259 row in results
inserted a row for 260 row in results
inserted a row for 261 row in results
inserted a row for 262 row in results
inserted a row for 263 row in results
inserted a row for 264 row in results
inserted a row for 265 row in results
inserted a row for 266 row in results
inserted a row for 267 row in results
inserted a row for 268 row in results
inserted a row for 269 row in results
inserted a row for 270 row in results
inserted a row for 271 row in results
inserted a row for 272 row in results
inserted a row for 273 row in results
inserted a row for 274 row in results
inserted a row for 275 row in results
inserted a row for 276 row in results
inserted a row for 277 row in results
inserted a row for 278 row in results
inserted a row for 279 row in results
inserted a row for 280 row in results
inserted a row for 281 row in results
inserted a row for 282 row in results
inserted a row for 283 row in results
inserted a row for 284 row in results
inserted a row for 285 row in results
inserted a row for 286 row in results
inserted a row for 287 row in results
inserted a row for 288 row in results
inserted a row for 289 row in results
inserted a row for 290 row in results
inserted a row for 291 row in results
inserted a row for 292 row in results
inserted a row for 293 row in results
inserted a row for 294 row in results
inserted a row for 295 row in results
inserted a row for 296 row in results
inserted a row for 297 row in results
inserted a row for 298 row in results
inserted a row for 299 row in results
inserted a row for 300 row in results
inserted a row for 301 row in results
inserted a row for 302 row in results
inserted a row for 303 row in results
inserted a row for 304 row in results
inserted a row for 305 row in results
inserted a row for 306 row in results
inserted a row for 307 row in results
inserted a row for 308 row in results
inserted a row for 309 row in results
inserted a row for 310 row in results
inserted a row for 311 row in results
inserted a row for 312 row in results
inserted a row for 313 row in results
inserted a row for 314 row in results
inserted a row for 315 row in results
inserted a row for 316 row in results
inserted a row for 317 row in results
inserted a row for 318 row in results
inserted a row for 319 row in results
inserted a row for 320 row in results
inserted a row for 321 row in results
inserted a row for 322 row in results
inserted a row for 323 row in results
inserted a row for 324 row in results
inserted a row for 325 row in results
inserted a row for 326 row in results
inserted a row for 327 row in results
inserted a row for 328 row in results
inserted a row for 329 row in results
inserted a row for 330 row in results
inserted a row for 331 row in results
inserted a row for 332 row in results
inserted a row for 333 row in results
inserted a row for 334 row in results
inserted a row for 335 row in results
inserted a row for 336 row in results
inserted a row for 337 row in results
inserted a row for 338 row in results
inserted a row for 339 row in results
inserted a row for 340 row in results
inserted a row for 341 row in results
inserted a row for 342 row in results
inserted a row for 343 row in results
inserted a row for 344 row in results
inserted a row for 345 row in results
inserted a row for 346 row in results
inserted a row for 347 row in results
inserted a row for 348 row in results
inserted a row for 349 row in results
inserted a row for 350 row in results
inserted a row for 351 row in results
inserted a row for 352 row in results
inserted a row for 353 row in results
inserted a row for 354 row in results
inserted a row for 355 row in results
inserted a row for 356 row in results
inserted a row for 357 row in results
inserted a row for 358 row in results
inserted a row for 359 row in results
inserted a row for 360 row in results
inserted a row for 361 row in results
inserted a row for 362 row in results
inserted a row for 363 row in results
inserted a row for 364 row in results
inserted a row for 365 row in results
inserted a row for 366 row in results
inserted a row for 367 row in results
inserted a row for 368 row in results
inserted a row for 369 row in results
inserted a row for 370 row in results
inserted a row for 371 row in results
inserted a row for 372 row in results
inserted a row for 373 row in results
inserted a row for 374 row in results
inserted a row for 375 row in results
inserted a row for 376 row in results
inserted a row for 377 row in results
inserted a row for 378 row in results
inserted a row for 379 row in results
inserted a row for 380 row in results
inserted a row for 381 row in results
inserted a row for 382 row in results
inserted a row for 383 row in results
inserted a row for 384 row in results
inserted a row for 385 row in results
inserted a row for 386 row in results
inserted a row for 387 row in results
inserted a row for 388 row in results
inserted a row for 389 row in results
inserted a row for 390 row in results
inserted a row for 391 row in results
inserted a row for 392 row in results
inserted a row for 393 row in results
inserted a row for 394 row in results
inserted a row for 395 row in results
inserted a row for 396 row in results
inserted a row for 397 row in results
inserted a row for 398 row in results
inserted a row for 399 row in results
inserted a row for 400 row in results
inserted a row for 401 row in results
inserted a row for 402 row in results
inserted a row for 403 row in results
inserted a row for 404 row in results
inserted a row for 405 row in results
inserted a row for 406 row in results
inserted a row for 407 row in results
inserted a row for 408 row in results
inserted a row for 409 row in results
inserted a row for 410 row in results
inserted a row for 411 row in results
inserted a row for 412 row in results
inserted a row for 413 row in results
inserted a row for 414 row in results
inserted a row for 415 row in results
inserted a row for 416 row in results
inserted a row for 417 row in results
inserted a row for 418 row in results
inserted a row for 419 row in results
inserted a row for 420 row in results
inserted a row for 421 row in results
inserted a row for 422 row in results
inserted a row for 423 row in results
inserted a row for 424 row in results
inserted a row for 425 row in results
inserted a row for 426 row in results
inserted a row for 427 row in results
inserted a row for 428 row in results
inserted a row for 429 row in results
inserted a row for 430 row in results
inserted a row for 431 row in results
inserted a row for 432 row in results
inserted a row for 433 row in results
inserted a row for 434 row in results
inserted a row for 435 row in results
inserted a row for 436 row in results
inserted a row for 437 row in results
inserted a row for 438 row in results
inserted a row for 439 row in results
inserted a row for 440 row in results

inserted a row for 441 row in results
inserted a row for 442 row in results
inserted a row for 443 row in results
inserted a row for 444 row in results
inserted a row for 445 row in results
inserted a row for 446 row in results
inserted a row for 447 row in results
inserted a row for 448 row in results
inserted a row for 449 row in results
inserted a row for 450 row in results
inserted a row for 451 row in results
inserted a row for 452 row in results
inserted a row for 453 row in results
inserted a row for 454 row in results
inserted a row for 455 row in results
inserted a row for 456 row in results
inserted a row for 457 row in results
inserted a row for 458 row in results
inserted a row for 459 row in results
inserted a row for 460 row in results
inserted a row for 461 row in results
inserted a row for 462 row in results
inserted a row for 463 row in results
inserted a row for 464 row in results
inserted a row for 465 row in results
inserted a row for 466 row in results
inserted a row for 467 row in results
inserted a row for 468 row in results
inserted a row for 469 row in results
inserted a row for 470 row in results
inserted a row for 471 row in results
inserted a row for 472 row in results
inserted a row for 473 row in results
inserted a row for 474 row in results
inserted a row for 475 row in results
inserted a row for 476 row in results
inserted a row for 477 row in results
inserted a row for 478 row in results
inserted a row for 479 row in results
inserted a row for 480 row in results
inserted a row for 481 row in results
inserted a row for 482 row in results
inserted a row for 483 row in results
inserted a row for 484 row in results
inserted a row for 485 row in results
inserted a row for 486 row in results
inserted a row for 487 row in results
inserted a row for 488 row in results
inserted a row for 489 row in results
inserted a row for 490 row in results
inserted a row for 491 row in results
inserted a row for 492 row in results
inserted a row for 493 row in results
inserted a row for 494 row in results
inserted a row for 495 row in results
inserted a row for 496 row in results
inserted a row for 497 row in results
inserted a row for 498 row in results
inserted a row for 499 row in results
inserted a row for 500 row in results
inserted a row for 501 row in results
inserted a row for 502 row in results
inserted a row for 503 row in results
inserted a row for 504 row in results
inserted a row for 505 row in results
inserted a row for 506 row in results
inserted a row for 507 row in results
inserted a row for 508 row in results
inserted a row for 509 row in results
inserted a row for 510 row in results
inserted a row for 511 row in results
inserted a row for 512 row in results
inserted a row for 513 row in results
inserted a row for 514 row in results
inserted a row for 515 row in results
inserted a row for 516 row in results
inserted a row for 517 row in results
inserted a row for 518 row in results
inserted a row for 519 row in results
inserted a row for 520 row in results
inserted a row for 521 row in results
inserted a row for 522 row in results
inserted a row for 523 row in results
inserted a row for 524 row in results
inserted a row for 525 row in results
inserted a row for 526 row in results
inserted a row for 527 row in results
inserted a row for 528 row in results
inserted a row for 529 row in results
inserted a row for 530 row in results
inserted a row for 531 row in results
inserted a row for 532 row in results
inserted a row for 533 row in results
inserted a row for 534 row in results
inserted a row for 535 row in results
inserted a row for 536 row in results
inserted a row for 537 row in results
inserted a row for 538 row in results
inserted a row for 539 row in results
inserted a row for 540 row in results
inserted a row for 541 row in results
inserted a row for 542 row in results
inserted a row for 543 row in results
inserted a row for 544 row in results
inserted a row for 545 row in results
inserted a row for 546 row in results
inserted a row for 547 row in results
inserted a row for 548 row in results
inserted a row for 549 row in results
inserted a row for 550 row in results
inserted a row for 551 row in results
inserted a row for 552 row in results
inserted a row for 553 row in results
inserted a row for 554 row in results
inserted a row for 555 row in results
inserted a row for 556 row in results
inserted a row for 557 row in results
inserted a row for 558 row in results
inserted a row for 559 row in results
inserted a row for 560 row in results
inserted a row for 561 row in results
inserted a row for 562 row in results
inserted a row for 563 row in results
inserted a row for 564 row in results
inserted a row for 565 row in results
inserted a row for 566 row in results
inserted a row for 567 row in results
inserted a row for 568 row in results
inserted a row for 569 row in results
inserted a row for 570 row in results
inserted a row for 571 row in results
inserted a row for 572 row in results
inserted a row for 573 row in results
inserted a row for 574 row in results
inserted a row for 575 row in results
inserted a row for 576 row in results
inserted a row for 577 row in results
inserted a row for 578 row in results
inserted a row for 579 row in results
inserted a row for 580 row in results
inserted a row for 581 row in results
inserted a row for 582 row in results
inserted a row for 583 row in results
inserted a row for 584 row in results
inserted a row for 585 row in results
inserted a row for 586 row in results
inserted a row for 587 row in results
inserted a row for 588 row in results
inserted a row for 589 row in results
inserted a row for 590 row in results
inserted a row for 591 row in results
inserted a row for 592 row in results
inserted a row for 593 row in results
inserted a row for 594 row in results
inserted a row for 595 row in results
inserted a row for 596 row in results
inserted a row for 597 row in results
inserted a row for 598 row in results
inserted a row for 599 row in results
inserted a row for 600 row in results
inserted a row for 601 row in results
inserted a row for 602 row in results
inserted a row for 603 row in results
inserted a row for 604 row in results
inserted a row for 605 row in results
inserted a row for 606 row in results
inserted a row for 607 row in results
inserted a row for 608 row in results
inserted a row for 609 row in results
inserted a row for 610 row in results
inserted a row for 611 row in results
inserted a row for 612 row in results
inserted a row for 613 row in results
inserted a row for 614 row in results
inserted a row for 615 row in results
inserted a row for 616 row in results
inserted a row for 617 row in results
inserted a row for 618 row in results
inserted a row for 619 row in results
inserted a row for 620 row in results
inserted a row for 621 row in results
inserted a row for 622 row in results
inserted a row for 623 row in results
inserted a row for 624 row in results
inserted a row for 625 row in results
inserted a row for 626 row in results
inserted a row for 627 row in results
inserted a row for 628 row in results
inserted a row for 629 row in results
inserted a row for 630 row in results
inserted a row for 631 row in results
inserted a row for 632 row in results
inserted a row for 633 row in results
inserted a row for 634 row in results
inserted a row for 635 row in results
inserted a row for 636 row in results
inserted a row for 637 row in results
inserted a row for 638 row in results
inserted a row for 639 row in results
inserted a row for 640 row in results
inserted a row for 641 row in results
inserted a row for 642 row in results
inserted a row for 643 row in results
inserted a row for 644 row in results
inserted a row for 645 row in results
inserted a row for 646 row in results
inserted a row for 647 row in results
inserted a row for 648 row in results
inserted a row for 649 row in results
inserted a row for 650 row in results
inserted a row for 651 row in results
inserted a row for 652 row in results
inserted a row for 653 row in results
inserted a row for 654 row in results
inserted a row for 655 row in results
inserted a row for 656 row in results
inserted a row for 657 row in results
inserted a row for 658 row in results

inserted a row for 659 row in results
inserted a row for 660 row in results
inserted a row for 661 row in results
inserted a row for 662 row in results
inserted a row for 663 row in results
inserted a row for 664 row in results
inserted a row for 665 row in results
inserted a row for 666 row in results
inserted a row for 667 row in results
inserted a row for 668 row in results
inserted a row for 669 row in results
inserted a row for 670 row in results
inserted a row for 671 row in results
inserted a row for 672 row in results
inserted a row for 673 row in results
inserted a row for 674 row in results
inserted a row for 675 row in results
inserted a row for 676 row in results
inserted a row for 677 row in results
inserted a row for 678 row in results
inserted a row for 679 row in results
inserted a row for 680 row in results
inserted a row for 681 row in results
inserted a row for 682 row in results
inserted a row for 683 row in results
inserted a row for 684 row in results
inserted a row for 685 row in results
inserted a row for 686 row in results
inserted a row for 687 row in results
inserted a row for 688 row in results
inserted a row for 689 row in results
inserted a row for 690 row in results
inserted a row for 691 row in results
inserted a row for 692 row in results
inserted a row for 693 row in results
inserted a row for 694 row in results
inserted a row for 695 row in results
inserted a row for 696 row in results
inserted a row for 697 row in results
inserted a row for 698 row in results
inserted a row for 699 row in results
inserted a row for 700 row in results
inserted a row for 701 row in results
inserted a row for 702 row in results
inserted a row for 703 row in results
inserted a row for 704 row in results
inserted a row for 705 row in results
inserted a row for 706 row in results
inserted a row for 707 row in results
inserted a row for 708 row in results
inserted a row for 709 row in results
inserted a row for 710 row in results
inserted a row for 711 row in results
inserted a row for 712 row in results
inserted a row for 713 row in results
inserted a row for 714 row in results
inserted a row for 715 row in results
inserted a row for 716 row in results
inserted a row for 717 row in results
inserted a row for 718 row in results
inserted a row for 719 row in results
inserted a row for 720 row in results
inserted a row for 721 row in results
inserted a row for 722 row in results
inserted a row for 723 row in results
inserted a row for 724 row in results
inserted a row for 725 row in results
inserted a row for 726 row in results
inserted a row for 727 row in results
inserted a row for 728 row in results
inserted a row for 729 row in results
inserted a row for 730 row in results
inserted a row for 731 row in results
inserted a row for 732 row in results
inserted a row for 733 row in results
inserted a row for 734 row in results
inserted a row for 735 row in results
inserted a row for 736 row in results
inserted a row for 737 row in results
inserted a row for 738 row in results
inserted a row for 739 row in results
inserted a row for 740 row in results
inserted a row for 741 row in results
inserted a row for 742 row in results
inserted a row for 743 row in results
inserted a row for 744 row in results
inserted a row for 745 row in results
inserted a row for 746 row in results
inserted a row for 747 row in results
inserted a row for 748 row in results
inserted a row for 749 row in results
inserted a row for 750 row in results
inserted a row for 751 row in results
inserted a row for 752 row in results
inserted a row for 753 row in results
inserted a row for 754 row in results
inserted a row for 755 row in results
inserted a row for 756 row in results
inserted a row for 757 row in results
inserted a row for 758 row in results
inserted a row for 759 row in results
inserted a row for 760 row in results
inserted a row for 761 row in results
inserted a row for 762 row in results
inserted a row for 763 row in results
inserted a row for 764 row in results
inserted a row for 765 row in results
inserted a row for 766 row in results
inserted a row for 767 row in results
inserted a row for 768 row in results
inserted a row for 769 row in results
inserted a row for 770 row in results
inserted a row for 771 row in results
inserted a row for 772 row in results
inserted a row for 773 row in results
inserted a row for 774 row in results
inserted a row for 775 row in results
inserted a row for 776 row in results
inserted a row for 777 row in results
inserted a row for 778 row in results
inserted a row for 779 row in results
inserted a row for 780 row in results
inserted a row for 781 row in results
inserted a row for 782 row in results
inserted a row for 783 row in results
inserted a row for 784 row in results
inserted a row for 785 row in results
inserted a row for 786 row in results
inserted a row for 787 row in results
inserted a row for 788 row in results
inserted a row for 789 row in results
inserted a row for 790 row in results
inserted a row for 791 row in results
inserted a row for 792 row in results
inserted a row for 793 row in results
inserted a row for 794 row in results
inserted a row for 795 row in results
inserted a row for 796 row in results
inserted a row for 797 row in results
inserted a row for 798 row in results
inserted a row for 799 row in results
inserted a row for 800 row in results
inserted a row for 801 row in results
inserted a row for 802 row in results
inserted a row for 803 row in results
inserted a row for 804 row in results
inserted a row for 805 row in results
inserted a row for 806 row in results
inserted a row for 807 row in results
inserted a row for 808 row in results
inserted a row for 809 row in results
inserted a row for 810 row in results
inserted a row for 811 row in results
inserted a row for 812 row in results
inserted a row for 813 row in results
inserted a row for 814 row in results
inserted a row for 815 row in results
inserted a row for 816 row in results
inserted a row for 817 row in results
inserted a row for 818 row in results
inserted a row for 819 row in results
inserted a row for 820 row in results
inserted a row for 821 row in results
inserted a row for 822 row in results
inserted a row for 823 row in results
inserted a row for 824 row in results
inserted a row for 825 row in results
inserted a row for 826 row in results
inserted a row for 827 row in results
inserted a row for 828 row in results
inserted a row for 829 row in results
inserted a row for 830 row in results
inserted a row for 831 row in results
inserted a row for 832 row in results
inserted a row for 833 row in results
inserted a row for 834 row in results
inserted a row for 835 row in results
inserted a row for 836 row in results
inserted a row for 837 row in results
inserted a row for 838 row in results
inserted a row for 839 row in results
inserted a row for 840 row in results
inserted a row for 841 row in results
inserted a row for 842 row in results
inserted a row for 843 row in results
inserted a row for 844 row in results
inserted a row for 845 row in results
inserted a row for 846 row in results
inserted a row for 847 row in results
inserted a row for 848 row in results
inserted a row for 849 row in results
inserted a row for 850 row in results
inserted a row for 851 row in results
inserted a row for 852 row in results
inserted a row for 853 row in results
inserted a row for 854 row in results
inserted a row for 855 row in results
inserted a row for 856 row in results
inserted a row for 857 row in results
inserted a row for 858 row in results
inserted a row for 859 row in results
inserted a row for 860 row in results
inserted a row for 861 row in results
inserted a row for 862 row in results
inserted a row for 863 row in results
inserted a row for 864 row in results
inserted a row for 865 row in results
inserted a row for 866 row in results
inserted a row for 867 row in results
inserted a row for 868 row in results
inserted a row for 869 row in results
inserted a row for 870 row in results
inserted a row for 871 row in results
inserted a row for 872 row in results
inserted a row for 873 row in results
inserted a row for 874 row in results
inserted a row for 875 row in results

inserted a row for 876 row in results
inserted a row for 877 row in results
inserted a row for 878 row in results
inserted a row for 879 row in results
inserted a row for 880 row in results

IntegrityError: 1062 (23000): Duplicate entry 'MI1979' for key 'PRIMARY'

In [ ]:
# Commit the changes to database
cnx.commit()

In [ ]:
cursor.close()

In [50]:
cursor.execute('SELECT * FROM mod3_eda.fbi_crime_data').fetchall()

AttributeError: 'NoneType' object has no attribute 'fetchall'

In [49]:
cursor.fetchall()

InterfaceError: No result set to fetch from.